
		<div class="left-content p-30">


			<div class="logo">
				<a href="index.html">
					<span>Du Tran</span>
					<span>Profile</span>
				</a>
			</div>
			<div class="nav" >
				<ul>
					<li><a routerLink="">Home</a></li>
					<li><a routerLink="/about">About</a></li>
					<li><a routerLink="/experience">Experience</a></li>
					<li><a routerLink="/portfolio">Portfolio</a></li>
					<li><a routerLink="/education">Education</a></li>
					<li><a routerLink="/contact">Contact</a></li>
				</ul>
			</div>
			<div class="left-footer">
				<div class="social-icons">
					<ul>
						<li><a href="https://www.linkedin.com/in/du-tran-a538b5197/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="https://www.facebook.com/ngocdu.tran.vn/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://www.behance.net/dutran3"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/du.ntran/?next=%2F"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="foot-contact">
					<ul>
						<li>ngocdu.tran.vn@gmail.com</li>
						<li>+1 616-808-9540</li>
					</ul>
				</div>
				
                <div class="copy-rights">Copyright &copy;2019 All rights reserved</div>
			</div>

		</div>
		<!--<app-home></app-home>-->




