<div class="main-content">

    <div class="section1 p-30" id="Home">
        <div class="sec-title">
            <div class="pg-sub-title">Experience</div>
            <div class="pg-title">My Experience</div>
        </div>

        <div class="user-profile flex-1">
            <div class="pro-details">
                
                <div class="title" >Infosys</div>   
                <div style="padding-top: 0cm;">Data Analyst Associate</div>       
                <div>Nov 2021 - Present</div>
                <div style="padding-top: 0.5cm; padding-left: 1cm;">
                    <div style="font-size: medium; padding-bottom: 0.2cm;">
                        <i class="fa fa-rocket" style="padding-right: 0.2cm;"></i>
                        Molina Healthcare Client, MHI - EIM
                    </div>
                        <div style="padding-left: 0.1cm;">
                        <ul style="padding-left: 0.1cm;">
                            <li>Collect data from Finance Department, transform, and load data to database</li>
                            <li>Collaborate with senior data analysts to build data structure and update the logic for data</li>
                            <li>Use Excel and Power BI to compare the trend of data each month. Identify data issues and propose solutions to improve performance</li>
                        </ul>
                        </div>
                </div>
            <br><br>
                <div class="title" >REVATURE</div>   
                <div style="padding-top: 0cm;">Dotnet Software Developer</div>       
                <div>Jan 2021 - Nov 2021</div>
                <div style="padding-top: 0.5cm; padding-left: 1cm;">
                    <div style="font-size: medium; padding-bottom: 0.2cm;"><i class="fa fa-rocket" style="padding-right: 0.2cm;"></i>Support Groups/Pet Insurance Project</div>
                        <div style="padding-left: 0.1cm;">
                            <p>Two separate projects are developed in coinciding iterations by the same dev team. 
                            Support Groups allows people with similar problems or conditions in a given area to create and 
                            find relevant support groups. Group creators can administer groups and create events. 
                            Pet Insurance is a sales portal for an insurance carrier to sell pet insurance to end users.</p>
                            <span style="font-weight: bold;">Environment:</span> C#, ADO.NET Entity Framework, HTML, JavaScript, CSS, Angular, ASP.NET Web API, 
                                DevOps, TypeScript, Jasmine, Karma, Microsoft Azure, Docker, Kubernetes, TDD
                            
                        </div>
                </div>

                <div style="padding-top: 0.5cm; padding-left: 1cm;">
                    <div style="font-size: medium; padding-bottom: 0.2cm;">
                        <i class="fa fa-rocket" style="padding-right: 0.2cm;"></i>
                        Post'N Project
                    </div>
                        <div style="padding-left: 0.1cm;">
                            <p>Post’N is a simple social media website that allows users to register, 
                            create/edit/delete posts, search for other users and see all posts that other users have created. 
                            Users are able to comment on posts and delete their own comments. By visiting other profiles, 
                            you can add/remove friends. Authorization is implemented in the client and server side 
                            which allows the business to define user roles as User and Administrator.</p>
                           
                            <span style="font-weight: bold;">Environment:</span> C#, ADO.NET Entity Framework, HTML, 
                            CSS, Angular, ASP.NET Web API, DevOps, TypeScript, Jasmine, Karma, Microsoft Azure, SQL Server

                            
                        </div>
                </div>

                <div style="padding-top: 0.5cm; padding-left: 1cm;">
                    <div style="font-size: medium; padding-bottom: 0.2cm;">
                        <i class="fa fa-rocket" style="padding-right: 0.2cm;"></i>
                        Restaurant Reviewer Project
                    </div>
                        <div style="padding-left: 0.1cm;">
                            <p>The Restaurant Reviews application allows a user to provide and look up reviews for 
                                different restaurants. Users can see the basic information of a restaurant and 
                                the average rating for each restaurant from all the reviews available. 
                                They can sort the restaurants according to their average ratings and names. 
                                Users can also search a particular restaurant by its name, zip code, or state. 
                                Restaurant and review records can all be edited or deleted.</p>
                           
                            <span style="font-weight: bold;">Environment:</span> CC#, ASP.NET MVC, SQL Server, 
                            ADO.NET Entity Framework, HTML, JavaScript, CSS, Microsoft Azure, Bootstrap, DevOps


                            
                        </div>
                </div>
        
           </div>
        </div>


    </div>
    