<div class="main-content">

    <div class="section1 p-30" id="Home" style="width: max;">
        <div class="sec-title">
            <div class="pg-sub-title">About</div>
            <div class="pg-title">About Me</div>
        </div>
        <!--
        <div class="user-profile flex-1">
            <div class="pro-details">
                <div class="title" style="padding-left: 5cm;">HOBBIES</div>
                <p style="padding-top: 1cm; padding-left: 5cm;">simple</p>
                <p style="padding-left: 11cm;">snow</p>
                <p style="padding-left: -2cm; font-size: large;">coding</p>
                <p style="padding-left: 7cm; font-size: large;">badminton</p>
                <p style="padding-left: 3cm;">photography</p>
                <p style="padding-left: 5cm;">watches</p>
                <p style="padding-left: 10cm;">biking</p>
              
            </div>
            <div class="pro-details">
                <div class="title" style="padding-left: 5cm;">FOOD & DRINK</div>
                
                <p style="padding-left: 1cm; font-size: large;">Coffee</p>
                <p style="padding-left: -2 cm;">Tea</p>
                <p style="padding-left: 5cm; font-size: large;">Banh Xeo</p>
                <p style="padding-left: 1cm;">Banh canh</p>
                <p style="padding-left: 6cm; font-size: large;">Crab</p>
                <p style="padding-left: -6cm; ">seafood</p>
            </div>
        </div>-->
        <div class="user-profile flex-1">
            <p>I was born and grew up in SaiGon, one of the most populated city in Vietnam. Wherever I live, the thing that make me always
                 remember and miss my hometown a lot is food
                and the business of the city. I love and miss my hometown so much since it defines who I am now.</p>
            <p>
                Rolling back to my childhood, as a child, I was always interested in everything about technology. One of my hobbies was collecting broken electronic appliances and using tools to open it and see what inside. 
                I remember the first time I had a chance to use computer was when I was in grade 7 or 8. That feeling was so great when you were like connecting to the whole world
                from a small little room. My curiosity about everything happening in the whole world became bigger and bigger from that point. Since then I
                had a dream of going abroad to study. Luckily, I had that opportunity and turned my dream into the truth. 
            </p>
            <p>
                I came to the US in 2017 at the age of 23 and applied to study at a local college in Grand Rapids, Michigan. I pursued a major in Graphic Design.
                I loved what I was studying. However, besides that, the barrier of language and culture prevented me to open more and perform myself better.
                I didn't have any big achievement while I was in college struggling with communicating in English and getting familiar with people.
                So, after the graduation, I had a hard time to find a job. Then I decided to switch my career into technology. 
            </p>
            <P>  
                Since I have worked as a software engineer, I realized that I love coding, analyzing, and visualizing data. Although this job to me is quite stressful, I love what I am doing right now.
            </P> 
            <p>
                Because of the nature of this job, sometimes I lose the balance between my social life and work. My everyday life is all about sitting
                in front of laptops, having meeting through Teams that all people prefer turning off their webcam. I think most of engineers who are able
                to work from home will have
                this situation and understand what I am talking about. Anyways, I am still happy with what I have now.
                If you are very good at balancing your life, would love to take your advice and be your friend.
            </p> 
            <p>
                Just a little introduction of myself. Feel free to leave a message if you have any questions for me.
                Hope you have a good day!
            </p>
        </div>
    </div>
    