<div class="main-content">

    <div class="section1 p-30" id="Home" style="width: max;">
        <div class="sec-title">
            <div class="pg-sub-title">About</div>
            <div class="pg-title">About Me</div>
        </div>
        <div class="user-profile flex-1">
            <div class="pro-details">
                <div class="title" style="padding-left: 5cm;">HOBBIES</div>
                <p style="padding-top: 1cm; padding-left: 5cm;">simple</p>
                <p style="padding-left: 11cm;">snow</p>
                <p style="padding-left: -2cm; font-size: large;">coding</p>
                <p style="padding-left: 7cm; font-size: large;">badminton</p>
                <p style="padding-left: 3cm;">photography</p>
                <p style="padding-left: 5cm;">watches</p>
                <p style="padding-left: 10cm;">biking</p>
              
            </div>
            <div class="pro-details">
                <div class="title" style="padding-left: 5cm;">FOOD & DRINK</div>
                
                <p style="padding-left: 1cm; font-size: large;">Coffee</p>
                <p style="padding-left: -2 cm;">Tea</p>
                <p style="padding-left: 5cm; font-size: large;">Banh Xeo</p>
                <p style="padding-left: 1cm;">Banh canh</p>
                <p style="padding-left: 6cm; font-size: large;">Crab</p>
                <p style="padding-left: -6cm; ">seafood</p>
            </div>
        </div>
    </div>
    