
<div class="main-content">
    <div class="section1 p-30" id="Home">
    <div class="sec-title">
        <div class="pg-sub-title">Home</div>
        <div class="pg-title">My Profile</div>
    </div>
        <div class="d-flex-align-center">
 
        <div class="user-img flex-1"><img src="../assets/profile pic.jpg"></div>
        <div class="user-profile flex-1">
            <div class="pro-details">
                <div class="sm-text">HELLO EVERYBODY, I AM</div>
                <div class="name">Du Tran</div>
                <div class="role">Data Engineer Associate</div>

            </div>
            <div class="text">
                Software Developer with almost two years of experience including more than a year at Infosys, 
                five months being trained in C#, Dotnet API and Angular and completed three projects at Revature. 
                Experienced in interpreting and analyzing data for a healthcare company. 
                Automated and created many data reports to help improve the performance of processing data.

            </div>
            <div class="pr-list">
                <ul>
                    <!--<li><i class="fa fa-calendar" aria-hidden="true"></i> 14th May, 1992</li>-->
                    <li><i class="fa fa-phone" aria-hidden="true"></i> 616-808-9540</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> ngocdu.tran.vn@gmail.com</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Grand Rapids, MI</li>
                </ul>
            </div>
    <div class="social-icons-head">
            <ul>
                <li><a href="https://www.linkedin.com/in/du-tran-a538b5197/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.facebook.com/ngocdu.tran.vn/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.behance.net/dutran3"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/du.ntran/?next=%2F"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        </div>
    </div>
    </div>
</div>

