<div class="main-content">

<div class="section1 p-30" id="Home">
    <div class="sec-title">
        <div class="pg-sub-title">Education</div>
        <div class="pg-title">My Education</div>
    </div>
</div>

<div class="user-profile flex-1">
    <div class="pro-details">
        
        <div class="role">Bachelor's Degree in Art, Graphic Design          Aug 2017 - Aug 2020</div>
        <div class="text">Calvin University, Grand Rapids, MI</div>
        <br>
        <div class="role">Bachelor's Degree in Science, Finance          July 2013 - June 2017</div>
        <div class="text">Calvin University, Grand Rapids, MI</div>

    </div>
    <div class="text">You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</div>
    <div class="pr-list">
        <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i> 14th May, 1992</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> 616-808-9540</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> ngocdu.tran.vn@gmail.com</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Grand Rapids, MI</li>
        </ul>
    </div>
</div>
</div>
