<div class="main-content">

<div class="section1 p-30" id="Home">
    <div class="sec-title">
        <div class="pg-sub-title">Education</div>
        <div class="pg-title">My Education</div>
    </div>
</div>

<div class="user-profile flex-1">
    <div class="pro-details">
        
        <div class="role">Bachelor's Degree in Graphic Design</div>          Aug 2017 - Aug 2020
        <div class="text">Calvin University, Grand Rapids, MI, USA</div>
    <br><br>
        <div class="role">Bachelor's Degree in Finance </div>         July 2013 - June 2017
        <div class="text">University of Economics Ho Chi Minh City, Ho Chi Minh, VietNam</div>

    </div>
   <div class="pro-details">
        <div class="role" style="padding-top: 1cm ;"><i class='fa fa-certificate' style="margin-right:1cm ;"></i>
        Certification
        </div>
        <div style="margin-left: 1.5cm; font-size: medium; padding-bottom: 0.3cm;">AZ-900: Microsoft Azure Fundamentals</div>
        <div style="margin-left: 1.5cm; font-size: medium;">DP-900: Microsoft Data Fundamentals</div>

   </div>
</div>
</div>
