a:link {
    color: #222222;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(126, 123, 123);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }