<div class="main-content">

    <div class="section1 p-30" id="Home">
        <div class="sec-title">
            <div class="pg-sub-title">Portfolio</div>
            <div class="pg-title">My Portfolio</div>
        </div>
        <div class="user-profile flex-1">
            <div class="pro-details">
                <div class="title">GITHUB</div>
                <div>
                    <div style="padding-top: 0.4cm; padding-left:2cm; font-size: large;">
                        <i class="material-icons">attachment</i>
                        <a href="https://github.com/210726-wvu-net-ext/Group2-P3-Tulia.git--https://github.com/210726-wvu-net-ext/Group2-P3-Pet_Insurance.git">
                            Support Groups/Pet Insurance Project
                        </a>
                    </div>
                    <div style="padding-top: 0.4cm; padding-left:2cm; font-size: large;">
                        <i class="material-icons">attachment</i>
                        <a href="https://github.com/210726-wvu-net-ext/P2-Chris-Du-Keegan.git">
                            Post'N Project
                        </a>
                    </div>
                    <div style="padding-top: 0.4cm; padding-left:2cm; font-size: large;">
                        <i class="material-icons">attachment</i>
                        <a href="https://github.com/dudutran/RestaurantReviewWebApp.git">
                            Restaurant Reviewer Project
                        </a>
                    </div>
                    <div style="padding-top: 0.4cm; padding-left:2cm; font-size: large;">
                        <i class="material-icons">attachment</i>
                        <a href="https://github.com/dudutran/resume.git">
                            My Resume
                        </a>
                    </div>
                </div>
                </div>
                <div class="title">ART</div>
                    <div style="padding-top: 0.4cm; padding-left:2cm; font-size: large;">
                        <i class="material-icons">attachment</i>
                        <a href="https://www.behance.net/dutran3">
                            Visiting my art!
                        </a>
                    </div>
                
            </div>
        </div>
    </div>
    
