<div class="main-content">

    <div class="section1 p-30" id="Home">
        <div class="sec-title">
            <div class="pg-sub-title">Contact</div>
            <div class="pg-title">Contact Me</div>
        </div>
        <div>
            <div class="container">
                <form action="https://formsubmit.co/321b883a421263ba5bf7344528855f88" method="POST">
                  <label for="fname">First Name </label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
              
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              
                  <label for="country">Your email contact (optional)</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your contact for me to respond back ">
                  
                  <input type="hidden" name="_next" value="https://dutran-profile.web.app/home/thanks/">

                  <label for="subject">Comment</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea>
              
                  <input type="submit" value="Send">
                </form>
              </div>
        </div>
    </div>
