
<!DOCTYPE html>
<html>
<head>
	<title>My Resume</title>
	<link rel="stylesheet" type="text/css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
   
  </style>
</head>
<body>
  

  <div class="wraper">
    
		<div class="container">
 
      <button onclick="myFunction()">
        <div id="myToggle" onclick="myToggle()">Hello</div>
      </button>

        <div id="myDIV">
          <app-navigationbar></app-navigationbar>
        </div>
      <router-outlet></router-outlet>
    
  </div>
  
</div>


</body>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<app-navigationbar></app-navigationbar>-->
<!--<router-outlet></router-outlet>-->
